<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        {% block title_head %}
        <title>Creative - Start Bootstrap Theme</title>
        {% endblock title_head %}
        
        <link href={% static "css/styles.css" %} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar">
            <div class="navbar-content">
                <a href="{% url "inicio" %}" class="navbar-item">Inicio</a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="{% url "categoria" %}" class="navbar-item">Categoria</a></li>
                        <li><a href="{% url "transaccion" %}" class="navbar-item">Transacciones</a></li>
                        <li><a href="{% url "presupuesto" %}" class="navbar-item">Presupuestos</a></li>
                        <li><a href="{% url "mes" %}" class="navbar-item">Mensual</a></li>
                        <li><a href="{% url "crear_transaccion" %}" class="navbar-item">Crear transaccion</a></li>
                        <li><a href="{% url "crear_categoria" %}" class="navbar-item">Crear categoria</a></li>
                        <li><a href="{% url "crear_presupuesto" %}" class="navbar-item">Crear presupuesto</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        

        <main class="main">
            {% block main %}{% endblock main %}
        </main>
        
        <!-- Footer -->
        <footer class="footer">
            <p>Derechos de autor &copy; 2023 - Mi página web</p>
        </footer>
        
        
    </body>
</html>
