.navbar {
  background-color: #333;
  color: red;
  padding: 10px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.navbar-item {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.main {
  padding: 10px;
}


